body
{
   font-family:    arial;
   font-size:      10pt;
   margin:         0px;
   color:          white;
}
#bg
{
  position:        absolute;
  width:           100%;
  height:          100%;
  left:            0%;
  top:             0%;
  padding:         0px;
  overflow:        hidden;
  z-index:         0;
}
#bg img
{
  width:           100%;
  height:          100%;
}
#logo
{
  position:        absolute;
  left:            3%;
  top:             2%;
  padding:         1px;
  overflow:        hidden;
  z-index:         0;
}
#body
{
  color:           white;
  border-style:    none;
  position:        absolute;
  overflow:        auto;
  left:            2%;
  top:             1%;
  width:           45%;
  height:          85%;
  padding:         2%;
}
#tools
{
  border-style:    none;
  position:        absolute;
  overflow:        auto;
  top:             90%;
  height:          10%;
  width:           90%;
  left:            5%;
  right:           5%;
} 
#details
{
   color:          white;
   font-size:      12px;
   border-style:   none;
   position:       absolute;
   overflow:       auto;
   left:           50%;
   top:            5%;
   width:          50%;
   height:         75%;
   padding:        4%;
   background-color: clear;
   visibility:hidden;
}
button
{
   font-family:    Albertus Medium;
   font-size:      12pt;
   width:          100px;
}
textarea
{
   font-family:    courier ;
   font-size:      8pt;
}
select
{
   font-family:    Albertus Medium;
   font-size:      8pt;
   width:          350px;
   margin-left:    0px;
}
h1
{
   font-family:    Albertus Extra Bold;
   font-size:      24;
}
h2
{
   font-family:    Albertus Extra Bold;
   font-size:      16;
}
h3
{
   font-family:    Albertus Extra Bold;
   font-size:      12;
}   
#buttonTable
{
   background-color: #FFFFF0;
   border-style:   outset;
   width:          75%;
   border-spacing: 2px;
}
#buttonTd
{
   border-width:   1px;
   border-style:   inset;
   font-family:    arial;
   font-size:      10pt;
}
Table
{
   background-color: clear;
   border-style:   none;
   width:          75%;
   border-spacing: 2px;
}
Td
{
   border-width:   1px;
   border-style:   none;
   font-family:    albertus extra bold;
   font-weight:    bolder;
   font-size:      10pt;
}