HP 8460P
<table border="0">
<CAPTION><EM>System Information</EM></CAPTION>
  <tr>
    <td>Operating System</td>
    <td>Sysprep</td>
  </tr>
  <tr>
    <td>Windows 7 32bit</td>
    <td>No</td>
  </tr>
</table><BR><BR>
<table border="0">
<CAPTION><EM>Applications</EM></CAPTION>
  <tr>
    <td>Software<td>
    <td>Microsoft Offie</td>
    <td>Adobe Acrobat Reader</td>
  </tr>
  <tr>
    <td>Version</td>
    <td>2010</td>
    <td>10</td>
  </tr>
</table>